{% extends 'blog/base.html' %} {% block content %}
<article class="post">
  <aside class="actions">
    <a
      class="btn btn-secondary"
      href="{% url 'post_edit' pk=post.pk %}"
      class="mb-2"
    >
      {% include './icons/pencil-fill.svg' %}
    </a>
  </aside>
  {% if post.published_date %}
  <time class="date"> {{ post.published_date }} </time>
  {% endif %} {%if post.imagen%}
  <img src="{{post.imagen.url}}" alt="imagen Post" class="img-fluid" />
  {% else %}
  <img src="" alt="no image" class="img-fluid" />
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
</article>
{% endblock %}
